<div class="row">
    <div class="col-12 col-sm-8 col-md-6 text-center wow slideInLeft" data-wow-duration="2s">
        <div class="card">
            <div class="card-body">
                <img src="https://www.consorcio.cl/documents/10180/14507818/20181204-logo-consorcio.png" class="img-logo" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-6 d-flex justify-content-center align-items-center wow slideInRight" data-wow-duration="2s">
        <p class="text-white mb-0 main-text">Explorador de Farmacias Disponibles<br>© 2020. Gerald Alarcón for RRHH uses only. All Rights Reserved</p>
    </div>
</div>