.first-container{
    min-height:100vh;
    background-image:url('../../../assets/images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}
.second-container{
    background-color: rgba(1,1,1,.65);
    overflow:hidden;
}
::ng-deep .ngx-pagination a{
    color:white !important;
}
::ng-deep .ngx-pagination a:hover{
    color:black !important;
}
label{
    white-space: nowrap
}
.w-desktop{
    max-width:1300px
}