.first-container{
    min-height:100vh;
    background-image:url('../../../assets/images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.second-container{
    background-color: rgba(1,1,1,.65);
}