<!-- HEADER DE BUSCADORES -->
<div class="first-container bg-consorcio d-flex">
    <div class="second-container w-100 d-flex justify-content-center align-items-center">
        <div class="w-100 text-center">
            <h1 class="text-center text-white wow bounceInDown" data-wow-duration="2s">Explorador de Farmacias Disponibles</h1>
            <div class="btn-group wow bounceInLeft" data-wow-duration="2s" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" [routerLink]="['/search']">Filtro 100% Front-end</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/search-api']">Filtro proveniente de API</button>
                <a href="http://geraldalarcon.com.ve" target="_blank"><button type="button" class="btn btn-secondary">Ir a mi Curriculum Vitae</button></a>
            </div>
            <p class="mt-2 text-white wow bounceInRight" data-wow-duration="2s">© 2020. Gerald Alarcón for Consorcio RRHH. All Rights Reserved</p>
        </div>
    </div>
</div>