<!-- COMPONENTE UTILIZADO EMPLEADO LA API REST QUE PROGRAME -->
<div class="first-container bg-consorcio d-flex">
    <div class="second-container w-100 d-flex justify-content-center">
        <div class="w-100 p-3 w-desktop">
            <header-app></header-app>
            <div class="card w-100 my-4 wow slideInLeft delay-1s">
                <div class="card-body">
                    <p>Seleccione parámetros a buscar:</p>
                    <form class="w-100">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-3 col-md-2 col-lg-1 col-form-label">Comuna</label>
                            <div class="col-sm-9 col-md-10 col-lg-11">
                                <ng-container *ngIf="errorComunas === false && loading === false">
                                    <select class="form-control" id="staticEmail" [(ngModel)]="comuna" name="comuna" #ngModel [innerHtml]="content">
                                    </select>
                                </ng-container>
                                <ng-container *ngIf="errorComunas === true || loading === true">
                                    <select class="form-control" disabled>
                                        <option selected *ngIf="errorComunas === true">Ocurrió un error al cargar las comunas</option>
                                        <option selected *ngIf="loading === true">Cargando información de comunas</option>
                                    </select>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-3 col-md-2 col-lg-1 col-form-label">Nombre</label>
                            <div class="col-sm-9 col-md-10 col-lg-11">
                                <input type="text" placeholder="Introduzca nombre a buscar" class="form-control" id="inputPassword" [(ngModel)]="search" name="search" #name2="ngModel">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-sm-3 col-md-2 col-lg-1" for="optionButton">Opciones</label>
                            <div class="col-sm-9 col-md-10 col-lg-11" id="optionButton">
                                <button type="submit" (click)="readFarmacias()" [disabled]="loadingResults" class="btn btn-success mr-1"><ng-container *ngIf="loadingResults === true">Cargando</ng-container><ng-container *ngIf="loadingResults !== true">Consultar</ng-container></button>
                                <button type="button" class="btn-info btn mr-1" [disabled]="loadingResults" (click)="search = ''; readFarmacias()">Reiniciar</button>
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Registros por página: {{pageNumbers}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" (click)="setPageNumber(3)">3</a>
                                      <a class="dropdown-item" (click)="setPageNumber(9)">9</a>
                                      <a class="dropdown-item" (click)="setPageNumber(18)">18</a>
                                      <a class="dropdown-item" (click)="setPageNumber(120)">120</a>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center wow slideInLeft" *ngIf="filterFarmacias.length > 0">
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" responsive="true"></pagination-controls>
                </div>
                <ng-container *ngFor="let farmacia of filterFarmacias | paginate: { itemsPerPage: pageNumbers, currentPage: p }">
                    <div class="col-12 col-sm-6 col-lg-4 d-flex mb-3">
                        <farmacia-card [farmacia]="farmacia" class="w-100 d-flex"></farmacia-card>
                    </div>
                </ng-container>
                <div class="col-12 text-center text-white wow slideInLeft" *ngIf="filterFarmacias.length > 0">
                    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
                <p class="col-12 text-center text-white wow bounceInUp" *ngIf="filterFarmacias.length === 0 && searched === true && loadingResults !== true">No hay farmacias disponibles con los criterios seleccionados</p>
            </div>
        </div>
    </div>
</div>