<div class="card w-100 wow slideInRight">
    <img [src]="icons[farmacia.local_nombre.toLowerCase()]" class="w-100" *ngIf="icons[farmacia.local_nombre.toLowerCase()]"/>
    <div class="card-body d-flex align-items-center">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="w-100 mb-0"><ng-container *ngIf="icons[farmacia.local_nombre.toLowerCase()] === undefined"><strong>{{farmacia.local_nombre}}</strong><br></ng-container>{{farmacia.local_direccion}}<ng-container *ngIf="farmacia.localidad_nombre != ''">,</ng-container> {{farmacia.localidad_nombre}}<br>{{farmacia.telefono}}</p>
            </div>
            <div class="col-auto d-flex justify-content-center align-items-center">
                <p class="alert mb-0" [ngClass]="{'alert-success': (farmacia.open === 'Abierto'), 'alert-danger': (farmacia.open === 'Cerrado')}" role="alert">{{farmacia.open}}</p>
            </div>
        </div>
    </div>
    <agm-map [zoom]="15" class="w-100 map-style" [latitude]="farmacia.local_lat" [longitude]="farmacia.local_lng">
        <agm-marker [latitude]="farmacia.local_lat" [longitude]="farmacia.local_lng"></agm-marker>
    </agm-map>
</div>